{{define "content"}}
            <nav class="migas-pan" aria-label="Breadcrumb">
                <a href="/">Inicio</a>
                <span class="separador"><i class="fas fa-chevron-right"></i></span>
                <span class="actual">Equipo</span>
            </nav>

            <div class="cabecera-seccion">
                <h2>TEAM <span class="texto-destacado">PLATINUM</span></h2>
                <p>Atletas legendarios que entrenan en nuestras instalaciones.</p>
            </div>

            <div class="contenido-seccion">

                <div class="tarjeta">
                    <div class="caja-foto-atleta">
                        <img src="img/equipo/alex_eubank.png" alt="Alex Eubank" class="imagen-tarjeta ">
                    </div>
                    <div class="cuerpo-tarjeta">
                        <h3 class="nombre-tarjeta">Alex Eubank</h3>
                        <p class="detalles-tarjeta">"Trust the process."</p>
                    </div>
                </div>

                <div class="tarjeta">
                    <div class="caja-foto-atleta">
                        <img src="img/equipo/ronnie_coleman.png" alt="Ronnie Coleman" class="imagen-tarjeta ">
                    </div>
                    <div class="cuerpo-tarjeta">
                        <h3 class="nombre-tarjeta">Ronnie Coleman</h3>
                        <p class="detalles-tarjeta">"Yeah buddy! Lightweight baby!"</p>
                    </div>
                </div>

                <div class="tarjeta">
                    <div class="caja-foto-atleta">
                        <img src="img/equipo/arnold.png" alt="Arnold" class="imagen-tarjeta ">
                    </div>
                    <div class="cuerpo-tarjeta">
                        <h3 class="nombre-tarjeta">Arnold Schwarzenegger</h3>
                        <p class="detalles-tarjeta">"Come with me if you want to lift."</p>
                    </div>
                </div>

                <div class="tarjeta">
                    <div class="caja-foto-atleta">
                        <img src="img/equipo/tren_twins.png" alt="Tren Twins" class="imagen-tarjeta ">
                    </div>
                    <div class="cuerpo-tarjeta">
                        <h3 class="nombre-tarjeta">Tren Twins</h3>
                        <p class="detalles-tarjeta">"We go Jim!"</p>
                    </div>
                </div>

                <div class="tarjeta">
                    <div class="caja-foto-atleta">
                        <img src="img/equipo/cbum.png" alt="Chris Bumstead" class="imagen-tarjeta ">
                    </div>
                    <div class="cuerpo-tarjeta">
                        <h3 class="nombre-tarjeta">Chris Bumstead</h3>
                        <p class="detalles-tarjeta">"El estándar Platinum."</p>
                    </div>
                </div>

                <div class="tarjeta">
                    <div class="caja-foto-atleta">
                        <img src="img/equipo/joan_pradells.png" alt="Joan Pradells" class="imagen-tarjeta ">
                    </div>
                    <div class="cuerpo-tarjeta">
                        <h3 class="nombre-tarjeta">Joan Pradells</h3>
                        <p class="detalles-tarjeta">"Constancia y disciplina."</p>
                    </div>
                </div>

                <div class="tarjeta">
                    <div class="caja-foto-atleta">
                        <img src="img/equipo/andoni.png" alt="Andoni" class="imagen-tarjeta ">
                    </div>
                    <div class="cuerpo-tarjeta">
                        <h3 class="nombre-tarjeta">Andoni</h3>
                        <p class="detalles-tarjeta">"Trabajo duro."</p>
                    </div>
                </div>

                <div class="tarjeta">
                    <div class="caja-foto-atleta">
                        <img src="img/equipo/coach_greg.png" alt="Coach Greg" class="imagen-tarjeta">
                    </div>
                    <div class="cuerpo-tarjeta">
                        <h3 class="nombre-tarjeta">Coach Greg</h3>
                        <p class="detalles-tarjeta">"Train harder than last time!"</p>
                    </div>
                </div>

                <div class="tarjeta">
                    <div class="caja-foto-atleta">
                        <img src="/img/equipo/andreashaw.jpeg" alt="Andrea Shaw" class="imagen-tarjeta">
                    </div>
                    <div class="cuerpo-tarjeta">
                        <h3 class="nombre-tarjeta">Andrea Shaw</h3>
                        <p class="detalles-tarjeta">Una de las personas mas influyentes del culturismo femenino</p>
                    </div>
                </div>

            </div>

            <!-- Footer removed -->
        {{end}}
