.barra-navegacion {
    background-color: rgba($color-fondo-caja, 0.9);
    padding: 1rem 3rem;
    margin-left: $ancho-menu;
    border-bottom: 1px solid $color-gris-oscuro;
    display: flex;
    justify-content: center; /* Centrar buscador */
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 50;
    position: relative; /* Para posicionar los iconos después */

    @media (max-width: 768px) {
        margin-left: $ancho-menu-movil;
        padding: 1rem;
    }

    &__buscador {
        position: relative;
        flex-grow: 1;
        max-width: 600px;
        display: flex;
        justify-content: center;

        input {
            background-color: $color-fondo-oscuro;
            border: 1px solid $color-gris-oscuro;
            color: $color-texto-blanco;
            padding: 0.8rem 1rem 0.8rem 3.5rem;
            border-radius: 50px; /* Más moderno */
            font-size: 1rem;
            width: 100%;
            text-align: center; /* Centralizar texto */
            transition: all 0.3s ease;

            &::placeholder {
                text-align: center; /* Centralizar placeholder */
                color: rgba($color-texto-gris, 0.5);
            }

            &:focus {
                outline: none;
                border-color: $color-plata;
                box-shadow: 0 0 15px rgba($color-plata, 0.1);
            }
        }

        i {
            position: absolute;
            left: 1.5rem;
            top: 50%;
            transform: translateY(-50%);
            color: $color-texto-gris;
            font-size: 1.1rem;
            pointer-events: none;
        }
    }

    &__iconos {
        display: flex;
        gap: 1.5rem;
        color: $color-texto-gris;
        position: absolute;
        right: 3rem;

        @media (max-width: 768px) {
            right: 1rem;
        }

        i {
            cursor: pointer;
            transition: color 0.3s;

            &:hover {
                color: $color-texto-blanco;
            }
        }
    }
}