.navbar {
    background-color: rgba($color-fondo-caja, 0.9);
    padding: 1rem 3rem;
    margin-left: $ancho-menu;
    border-bottom: 1px solid $color-gris-oscuro;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 50;

    @media (max-width: 768px) {
        margin-left: $ancho-menu-movil;
        padding: 1rem;
    }

    &__buscador {
        position: relative;
        margin-right: 2rem;

        input {
            background-color: $color-fondo-oscuro;
            border: 1px solid $color-gris-oscuro;
            color: $color-texto-blanco;
            padding: 0.5rem 1rem 0.5rem 2.5rem;
            border-radius: 20px;
            font-size: 0.9rem;
            width: 250px;

            &:focus {
                outline: none;
                border-color: $color-plata;
            }
        }

        i {
            position: absolute;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
            color: $color-texto-gris;
        }
    }

    &__iconos {
        display: flex;
        gap: 1.5rem;
        color: $color-texto-gris;

        i {
            cursor: pointer;
            transition: color 0.3s;

            &:hover {
                color: $color-texto-blanco;
            }
        }
    }
}